:root{
    --color-azul: #008489;
    --color-gris-oscuro: #767676;
    --color-rojo: #FF5A5F;
    --color-gris-claro: #F7F7F7;
    --color-blanco: #FFFFFF;
    --color-gris-claro-difuminado: rgba(247, 247, 247, 0.3);

}

*{
    outline: none;
    text-decoration: none;
    font-family: 'Montserrat','Verdana',sans-serif;
}

body{
    margin: 0;
    font-size: 16px;
    background-image: url(../media/home_fondo.jpg);
    background-repeat:no-repeat;
    background-size: 100% 1200px;
}

/* ESTILOS MENU */

.menu{
    width: 100%;
    z-index: 500;
    position: fixed;
    margin: 0 auto;
    top:0;
    right: 0;
}

#menu_abierto ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#menu_abierto ul a{
    color: var(--color-blanco);
    font-weight: bold;
    padding: 0.9375em 1.5em;
    margin: auto;
    outline: none;
}

#menu_abierto ul li{
    list-style: none;
    outline: none;
}

#menu_abierto ul a:hover{
    background-color: var(--color-azul);
    transition: all ease-in 0.2s;
}

#menu_close{
    display: none;
}

.menu_desplegable{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0.625em;
    padding: 0.125em 0;
}

.menu_desplegable_lineas{
    height: 0.25em;
    width: 1.875em;
    background-color: var(--color-azul);
}

#menu_close img{
    height: 2.5em;
    margin: auto;
    float: left;
}

#menu_open{
    height: 25em;
    background-size: 18.75em;
    background-position-y: 2.5em;
    background-repeat: no-repeat;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

#menu_open .menu_desplegable{
    margin: 0.3125em 0.625em;
    width: 1.875em;
    height: 1.875em;
}


#menu_open .menu_desplegable .menu_desplegable_lineas{
    width: 130%;
}

#linea1{
    transform: rotate(45deg);
    position: relative;
    right: 0.375em;
    top: 0.375em;

}

#linea2{
    transform: rotate(-45deg);
    position: relative;
    bottom: 0.375em;
    right: 0.375em;
}
#menu_open span{
    margin-right: 10px;
}

#menu_open ul{
  margin: 0;
  padding: 0;
}

#menu_open li{
    list-style: none;
    text-align: center;
    margin: 1.5625em auto;
    font-size: 1.25em;
    font-family: 'Montserrat' 'Courier New', Courier, monospace;
}

#menu_open a{
    text-decoration: none;
    color: var(--color-blanco);
    font-weight: bold;
}

/* SELECTOR HOME */

.home_container{
    display: grid;
    width: 100%;
    grid-template-areas:
    "text"
    "container_selector"
    "boton"
    ;
    margin-top: 230px;
}

.home_text{
    grid-area: text;
    text-align: center;
    color: var(--color-blanco);
}

.home_text h1{
    font-size: 40px;
    margin: 0;
}

.home_text h2{
    font-size: 20px;
    margin: 10px 0 30px 0;
}

.home_container_boton{
    margin: 0 auto;
    text-align: center;
    grid-area: boton;
    margin-top: 25px;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-azul);
    box-shadow: 5px 5px 15px var(--color-blanco);
    position: relative;
    overflow: hidden;
    transition: all ease-in 0.2s;
}

.home_container_boton span{
    font-size: 16px;
    position: relative;
    font-weight: bold;
    color: var(--color-blanco);
    z-index: 2;
}

.home_container_boton::after{
    position: absolute;
    content: '';
    background-color: #FF5A5F;
    width: 250px;
    height: 40px;
    top: 0;
    right: 100%;
    z-index: 1;
    transition: all ease-in 0.2s;
}

.home_container_boton:hover{
    cursor: pointer;
    box-shadow: 5px 5px 30px var(--color-blanco);
}

.home_container_boton:hover::after{
    right: 0;
}


.home_selector{
    grid-area: container_selector;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". selector ."
    ;
}


.home_selector .selector{
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-areas:
    ". consorcio municipio ." 
    ". nucleo linea ."
    ;
    grid-area: selector;
    padding: 20px;
    border-radius: 50px;
    background-color: var(--color-rojo);
    box-shadow: 5px 5px 30px var(--color-azul);
     /* border: solid 5px var(--color-gris-claro); */
}

.home_selector .consorcio{
    width: 250px;
    grid-area: consorcio;
    position: relative;
    margin: auto;
    display: flex;
    margin: 0 15px;
    flex-direction: column;
}

.home_selector .consorcio label{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-blanco);
}

.home_selector .municipio{
    width: 250px;
    grid-area: municipio;
    position: relative;
    margin: auto;
    display: flex;
    margin: 0 30px;
    flex-direction: column;
}
.home_selector .municipio label{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-blanco);
}

.home_selector .nucleo{
    width: 250px;
    grid-area: nucleo;
    position: relative;
    margin: auto;
    display: flex;
    margin: 10px 15px;
    flex-direction: column;
}

.home_selector .nucleo label{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-blanco);
}
.home_selector .linea{
    width: 250px;
    grid-area: linea;
    position: relative;
    margin: auto;
    display: flex;
    margin: 10px 30px;
    flex-direction: column;
}

.home_selector .linea label{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-blanco);
}

.home_selector .selector .home_cuadro{
    font-size: 16px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background-color: var(--color-blanco);
    color: var(--color-gris-oscuro);
}

.home_option{
    font-size: 16px;
}