<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/media/logoParaTittle.png" type="image/x-icon">
    <title>ANDALUCÍA EN LINEA APP-WEB</title>
</head>
<body>
    <nav class="menu" id="menu">
        <div id="menu_abierto">
            <ul>
                <li><a href="/home"><span class="icon-home"></span> Inicio</a></li>
                <li><a href="/autobuses"><span class="icon-earth"></span>Buses Disponibles</a></li>
                <li class="menu_derecha"><a href="/login" class="menu_derecha"><span class="icon-user"></span>Accede a tu usuario</a></li>
            </ul>
        </div>
        <div id="menu_close">
            <div class="menu_desplegable" id="menu_abre">
                <div class="menu_desplegable_lineas"></div>
                <div class="menu_desplegable_lineas"></div>
                <div class="menu_desplegable_lineas"></div>
            </div>
            <img onclick="document.getElementById('inicio').scrollIntoView({ behavior: 'smooth', block: 'center'});" src="/media/logo_con_letra.png" alt="logotipo de Dietista y Nutricionista">
        </div>
        <div id="menu_open">
            <div class="menu_desplegable" id="menu_cierra">
                <div class="menu_desplegable_lineas" id="linea1"></div>
                <div class="menu_desplegable_lineas" id="linea2"></div>
            </div>
            <ul>
                <li><a href="index.html"><span class="icon-home"></span> Inicio</a></li>
                <li><a href="lineas_bus.html"><span class="icon-earth"></span>Buses Disponibles</a></li>
                <li><a href="acceso.html"><span class="icon-user"></span>Accede a tu usuario</a></li>
            </ul>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer>
        <h2>TODA LA INFORMACIÓN DISPONIBLE EN ANDALUCÍA EN LÍNEA</h2>
        <section class="listado_enlaces">
            <ul>
                <li><a href="/home"><span class="icon-home"></span> Inicio</a></li>
                <li><a href="/autobuses"><span class="icon-earth"></span>Buses Disponibles</a></li>
                <li><a href="/registro"><span class="icon-profile"></span>Regístrate</a></li>
                <li><a href="/login"><span class="icon-user"></span>Accede a tu usuario</a></li>
                <li><a href="https://www.ctas.es/" target="_blank"><span class="icon-library"></span>Página oficial del Consorcio de Transportes</a></li>
            </ul>
        </section>
        <section class="logotipos">
            <img src="/media/logo_con_letra.png" class="logo_bus" alt="">
            <img src="/media/junta-positivo.png" alt="">
        </section>
        <p class="firma">Una aplicación web realizada por <a href="https://github.com/sgarciajerez?tab=repositories" target="_blank">Santiago García</a></p> 
    </footer>
</body>
<script src="/scripts/menu.js"></script>
</html>