<head>
    <link rel="stylesheet" href="/css/autobuses.css">
</head>

<section class="container_header">
    <aside class="header_tittle">
    <h1>Líneas de Bus Disponibles en tu provincia</h1>
        <h2>Consulta todas las líneas existentes dentro de un consorcio</h2>
        <div class="selector_consorcio">
            <label for="idConsorcio">Selecciona tu zona</label>
            <select class="home_cuadro" name="idConsorcio" id="idConsorcio">
                <option value="0">Selecciona una opción</option>
            </select>
        </div>
    </aside>
    <button id="boton_mostrar_lineas" class="boton_animado" style="visibility:hidden"><span>Mostrar Líneas</span></button>
    <p id="parrafo_desliza">¡Desliza hacia abajo!</p>
</section>
<section class="container_listado" id="container">
    <h2 id="titulo_listado"></h2>
    <ul id="listadoConsorcios">
</section>

<script src="/scripts/mostrarLineasPorConsorcio.js"></script>