    <link rel="stylesheet" href="/css/home.css">
        <aside class="home_container">
            <header class="home_text">
                <h1>VIAJA EN AUTOBÚS POR ANDALUCÍA</h1>
                <h2>PLANEA TU DESTINO EN LÍNEAS DEL CONSORCIO METROPOLITANO DE TRANSPORTE</h2>
            </header>
            <div class="home_selector">
                <form class="selector" action="/queryLinea" method="POST" id="home-form">
                    <div class="consorcio">
                        <label for="idConsorcio">Selecciona tu zona</label>
                        <select class="home_cuadro" name="idConsorcio" id="idConsorcio">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="municipio">
                        <label for="idMunicipio">Tu municipio</label>
                        <select class="home_cuadro" name="idMunicipio" id="idMunicipio">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="nucleo">
                        <label for="idNucleo">Tu zona más cercana</label>
                        <select class="home_cuadro" name="idNucleo" id="idNucleo">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div> 
                    <div class="linea">
                        <label for="idLinea">Líneas Disponibles</label>
                        <select class="home_cuadro" name="idLinea" id="idLinea">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <button type="submit" class="home_container_boton" id="boton_buscar"><span>Buscar</span></button>
                </form>
            </div>
        </aside>
        <script src="scripts/selector.js"></script>
