<head>
    <link rel="stylesheet" type="text/css" href="/css/horario.css">
</head>
<main class="container">
    <section class="tabla_container">
        <h1>Horarios De la Línea</h1>
        <table id="tabla"></table>
    </section>
</main>
<script src="/scripts/cargarHorarioLinea.js"></script>