<head>
    <link rel="stylesheet" type="text/css" href="/css/horario.css">
</head>
<main class="container">
    <section class="tabla_container">
        <h1>Horarios De la Línea</h1>
        <aside class="container">
            <table id="tabla"></table>
        </aside>
    </section>
</main>
<script src="/scripts/horario/cargarHorarioLinea.js"></script>