<head>
    <link rel="stylesheet" type="text/css" href="/css/linea.css">
</head>
<main>
    <main class="header_container">
        <aside class="line_container">
            <header class="line_tittle">
                <h1>TU LÍNEA ANDALUZA DE AUTOBÚS AL DETALLE</h1>
                <h2 id="nombre_linea"></h2>
            </header>
            <section class="container_buttons">
                <button id="boton_horario" class="boton_animado"><span class="icon-calendar"></span><span>VER HORARIO</span></button>
                <button id="boton_guardar" class="boton_animado"><span class="icon-heart"></span><span>GUARDAR LINEA</span></button>
            </section>
        </aside>
    </main>
    <section class="container_info">
        <main class="info">
            <h2>INFORMACIÓN MÁS RELEVANTE</h2>
            <aside class="container_info_container">
                <div class="cuerpo_info">
                    <h3>OPERADOR</h3>
                    <p id="operador_linea"></p>
                </div>
                <div class="cuerpo_info">
                    <h3>PMR</h3>
                    <p id="pmr_linea"></p>
                </div>
                <div class="cuerpo_info">
                    <h3>OBSERVACIONES</h3>
                    <p id="observaciones_linea"></p>
                </div>
            </aside>
            <aside class="container_info_termometros">
                <a id="botonIda" class="boton_animado" target="_blank"><span>Ver Termómetro de Viaje IDA</span></a>
                <a id="botonVuelta" class="boton_animado" target="_blank"><span>Ver Termómetro de Viaje VUELTA</span></a>
            </aside>
        </main>
    </section>
    <section class="container_precios">
        <div>
        <h2>Precios del billete</h2>
        <table id="tablaPrecios"></table>
        </div>
    </section>
    <section class="container_listaNucleos">
        <h2> OTROS NÚCLEOS RELACIONADOS CON ESTA LÍNEA</h2>
        <ul id="listaNucleos" class="listaNucleos"></ul>
    </section>
</main>
<script src="/scripts/linea/cargarDatosLinea.js"></script>
<script src="/scripts/linea/cargarNucleo.js"></script>
<script src="/scripts/linea/cargarPuntoVenta.js"></script>
<script src="/scripts/linea/botonHorario.js"></script>
<script src="/scripts/linea/guardarLinea.js"></script>
''