<head>
    <link rel="stylesheet" href="/css/registro.css">
</head>

<main class="login_form">
    <section class="container_form">
        <form action="/usuarios/login" method="post" id="formulario_registro">
            <h1>ACCEDE A TU USUARIO</h1>
            <label for="email">Correo electrónico</label>
            <input type="email" id="correo" name="email" required>
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
            <ul id="errores_container">      
            </ul>
            <button type="submit" id="boton_login">Accede</button>
            <p>Si aún no dispones de usuario, pincha <a href="/registro">aquí</a></p>
        </form>
    </section>
</main>

<script src="/scripts/registro/formulario.js"></script>
<script src="/scripts/registro/redireccionarPerfil.js"></script>