
<head>
    <link rel="stylesheet" href="/css/mi-perfil.css">
</head>
<main class="container">
    <section class="username">
        <h1 id="bienvenida">BIENVENIDO USUARIO</h1>
    </section>
    <section class="lineas">
        <h2>LÍNEAS ALMACENADAS</h2>
        <ul id="listado_lineas"></ul>
    </section>
    <section>
        <h2>Tu información de usuario</h2>
        <ul id="info_user"></ul>
    </section>
    <section>
        <button id="cerrar_sesion">Cerrar Sesión</button>
    </section>
</main>
