<head>
    <link rel="stylesheet" href="/css/mi-usuario.css">
</head>
<main class="contenido_usuario">
    <section class="username">
        <h1>BIENVENIDO DE NUEVO <span class="username_content"></span></h1>
    </section>
    <aside class="container_details">
        <section class="lineas">
            <h2>LÍNEAS ALMACENADAS</h2>
            <ul id="listado_lineas"></ul>
        </section>
    </aside>
    <section class="info">
        <h2>Información de usuario</h2>
        <ul class="info_user">
            <li>Tu nombre de usuario: <span class="username_content"></span></li>
            <li>Tu email: <span class="email_content"></span></li>
        </ul>
    </section>
    <section class="boton">
        <button class="boton_animado" id="cerrar_sesion"><span>Cerrar Sesión</span></button>
    </section>
</main>
<script src="/scripts/cargarUsuario.js"></script>
<script src="/scripts/cargarLineasUsuario.js"></script>
