<head>
    <link rel="stylesheet" href="/css/registro.css">
</head>

<main class="register_form">
    <form method="/usuarios" action="post" id="formulario_registro">
        <section class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Nombre de Usuario</label>
        </section>
        <section class="row mb-3">
            <input type="text" class="form-control" id="username" name="username">
        </section>
        <section class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Correo Electrónico</label>
        </section>
        <section class="row mb-3">
            <input type="email" name="email" class="form-control" id="email">
        </section>
        <section class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
        </section>
        <section class="row mb-3">
            <input type="password" name="password" class="form-control" id="password">
        </section>
        <fieldset class="row mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                Example checkbox
                </label>
            </div>
        </fieldset>
        <ul class="row mb-3" id="errores_container">
            
        </ul>
        <button type="submit" class="btn btn-primary" id="boton_registro">Registrarse</button>
        <button class="btn btn-primary" id="boton_intentar">Volver a Intentar</button>
    </form>
</main>

<script src="/scripts/formulario.js"></script>