<head>
    <link rel="stylesheet" href="/css/linea.css">
</head>

<body>
    <aside class="line_container">
        <header class="line_tittle">
            <h1>TODOS LOS DETALLES DE TU LÍNEA MÁS CERCANA</h1>
        </header>
        <section class="line_details">
            <p class="d-flex justify-content-center flex-wrap">
                <a class="btn btn-primary mx-1" data-bs-toggle="collapse" href="#bs_nombreLinea" role="button" aria-expanded="false" aria-controls="bs_nombreLinea">Nombre de la Línea</a>
                <button class="btn btn-primary mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#bs_operadoresLinea" aria-expanded="false" aria-controls="bs_operadoresLinea">Operador que ofrece el servicio</button>
                <button class="btn btn-primary mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#bs_pmrLinea" aria-expanded="false" aria-controls="bs_pmrLinea">PMR</button>
                <button class="btn btn-primary mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#bs_observacionesLinea" aria-expanded="false" aria-controls="bs_observacionesLinea">Observaciones del Transporte</button>
                <button class="btn btn-primary mx-1" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="bs_nombreLinea bs_operadoresLinea bs_pmrLinea bs_observacionesLinea">Mostrar/Ocultar elementos</button>
            </p>
            <aside class="row d-flex justify-content-center flex-wrap align-items-center">
                <div class="col-2 mx-1">
                    <section class="collapse multi-collapse " id="bs_nombreLinea">
                      <div class="card card-body overflow-x-auto text-center" id="nombre_linea">
                        </div>
                    </section>
                </div>
                <div class="col-2 mx-1">
                    <div class="collapse multi-collapse" id="bs_operadoresLinea">
                        <div class="card card-body overflow-x-auto text-center" id="operador_linea">
                        </div>
                    </div>
                </div>
                <div class="col-2 mx-1">
                    <div class="collapse multi-collapse" id="bs_pmrLinea">
                      <div class="card card-body overflow-x-auto text-center" id="pmr_linea">
                        </div>
                    </div>
                </div>
                <div class="col-2 mx-1">
                    <div class="collapse multi-collapse" id="bs_observacionesLinea">
                        <div class="card card-body overflow-x-auto text-center" id="observaciones_linea">
                        </div>
                    </div>
                </div>
                </aside>
        </section>
        <section class="line_images">
            <p class="d-flex justify-content-center flex-wrap">
                <a class="btn btn-primary mx-1" type="button" id="botonIda" target="_blank">Ver Termómetro de Viaje de Ida</a>
                <a class="btn btn-primary mx-1" type="button" id="botonVuelta" target="_blank">Ver Termómetro de Viaje de Vuelta</a>
            </p>
        </section>
    </aside>
</body>
<script src="/scripts/cargarDatosLinea.js"></script>