body{
    background-image: url(/media/buses_fondo.jpg);
    background-repeat:no-repeat;
    background-size: 100% 1200px;
}

.line_container{
    display: grid;
    width: 100%;
    grid-template-areas:
    "text"
    "container_info"
    "imagenes"
    ;
    margin-top: 230px;
}

.line_tittle{
    grid-area: text;
    text-align: center;
    color: var(--color-blanco);
}

.line_details{
    grid-area: container_info;
    margin-top: 20px;
}

.line_images{
    grid-area: imagenes;
    margin-top: 20px;
}

.imagenes_linea{
    padding: 0;
    height: 1200px;
}

.row {
    --bs-gutter-x: 0;
}