/* SELECTOR HOME */

.home{
    height: 800px;
    background-image: url(/media/home_fondo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 100px;
}

.home_container{
    display: grid;
    width: 100%;
    grid-template-areas:
    "text"
    "container_selector"
    ;
}

.home_text{
    grid-area: text;
    text-align: center;
    color: var(--color-blanco);
}

.home_text h1{
    font-size: 40px;
    margin: 0;
}

.home_text h2{
    font-size: 20px;
    margin: 10px 0 30px 0;
}

.home_selector{
    grid-area: container_selector;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". selector ."
    ;
}


.home_selector .selector{
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-areas:
    ". consorcio municipio ." 
    ". nucleo linea ."
    ". boton boton ."
    ;
    grid-area: selector;
    padding: 20px;
    border-radius: 50px;
    background-color: var(--color-rojo);
    box-shadow: 5px 5px 30px var(--color-azul);
     /* border: solid 5px var(--color-gris-claro); */
}

.home_selector .consorcio{
    width: 250px;
    grid-area: consorcio;
    position: relative;
    margin: auto;
    display: flex;
    margin: 0 15px;
    flex-direction: column;
}

.home_selector .consorcio label{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-blanco);
}

.home_selector .municipio{
    width: 250px;
    grid-area: municipio;
    position: relative;
    margin: auto;
    display: flex;
    margin: 0 30px;
    flex-direction: column;
}
.home_selector .municipio label{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-blanco);
}

.home_selector .nucleo{
    width: 250px;
    grid-area: nucleo;
    position: relative;
    margin: auto;
    display: flex;
    margin: 10px 15px;
    flex-direction: column;
}

.home_selector .nucleo label{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-blanco);
}
.home_selector .linea{
    width: 250px;
    grid-area: linea;
    position: relative;
    margin: auto;
    display: flex;
    margin: 10px 30px;
    flex-direction: column;
}

.home_selector .linea label{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-blanco);
}

.home_selector .selector .home_cuadro{
    font-size: 16px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background-color: var(--color-blanco);
    color: var(--color-gris-oscuro);
}

.home_option{
    font-size: 16px;
}

.boton_animado{
    visibility: hidden;
}

