/* SELECTOR HOME */

.home{
    height: 50em;
    background-image: url(/media/home_fondo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 6.25em;
}

.home_container{
    display: grid;
    width: 100%;
    grid-template-areas:
    "text"
    "container_selector"
    ;
}

.home_text{
    grid-area: text;
    text-align: center;
    color: var(--color-blanco);
}

.home_text h1{
    font-size: 2.5em;
    margin: 0;
    padding: 0 0.625em;
}

.home_text h2{
    font-size: 1.25em;
    padding: 0.625em;
    margin: 0 0 1.875em 0;
}

.home_selector{
    grid-area: container_selector;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". selector ."
    ;
}


.home_selector .selector{
    display: grid;
    grid-template-columns: 3.125em 1fr 1fr 3.125em;
    grid-template-areas:
    ". consorcio municipio ." 
    ". nucleo linea ."
    ". boton boton ."
    ;
    grid-area: selector;
    padding: 1.25em;
    border-radius: 50px;
    background-color: var(--color-rojo);
    box-shadow: 5px 5px 30px var(--color-azul);
     /* border: solid 5px var(--color-gris-claro); */
}

.home_selector .consorcio{
    width: 15.625em;
    grid-area: consorcio;
    position: relative;
    margin: auto;
    display: flex;
    margin: 0 0.9375em;
    flex-direction: column;
}

.home_selector .consorcio label{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: var(--color-blanco);
}

.home_selector .municipio{
    width: 15.625em;
    grid-area: municipio;
    position: relative;
    margin: auto;
    display: flex;
    margin: 0 1.875em;
    flex-direction: column;
}
.home_selector .municipio label{
    position: relative;
    width: 100%;
    margin-bottom: 0.625em;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: var(--color-blanco);
}

.home_selector .nucleo{
    width: 15.625em;
    grid-area: nucleo;
    position: relative;
    margin: auto;
    display: flex;
    margin: 0.625em 0.9375em;
    flex-direction: column;
}

.home_selector .nucleo label{
    position: relative;
    width: 100%;
    margin-bottom: 0.625em;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: var(--color-blanco);
}
.home_selector .linea{
    width: 15.625em;
    grid-area: linea;
    position: relative;
    margin: auto;
    display: flex;
    margin: 0.625em 1.875em;
    flex-direction: column;
}

.home_selector .linea label{
    position: relative;
    width: 100%;
    margin-bottom: 0.625em;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: var(--color-blanco);
}

.home_selector .selector .home_cuadro{
    font-size: 1em;
    border: none;
    border-radius: 1.25em;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background-color: var(--color-blanco);
    color: var(--color-gris-oscuro);
}

.home_option{
    font-size: 1em;
}

.boton_animado{
    visibility: hidden;
}

/* El diseño responsive */

@media (max-width: 780px) {

    .home_text h1{
        padding-bottom: 10px;
    }

    .home_selector .selector{
        grid-template-columns: 3.125em 1fr 3.125em;
        grid-template-areas:
        ". consorcio ."
        ". municipio ." 
        ". nucleo ." 
        ". linea ."
        ". boton ."
        ;
    }

    .home_selector .consorcio{
        margin: 10px 0;
    }

    .home_selector .municipio{
        margin: 10px 0;
    }

    .home_selector .nucleo{
        margin: 10px 0;
    }

    .home_selector .linea{
        margin: 10px 0;
    }
}

@media (max-width: 550px) {

    .home{
        height: 55em;
    }
    .home_text h2{
        font-size: 16px;
    }
    .home_selector .selector{
        grid-template-columns: 10px 1fr 10px;
    }

}
