body{
    background-color: var(--color-azul);
}

.tabla_container{
  padding: 6.25em;
}

.tabla_container{
    margin-top: 3.125em;
}

.tabla_container h1{
    color: var(--color-blanco);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
}

/* Estilos para las tablas */

.tabla_container .container{
  width: 62.5em;
  margin: auto;
  padding: 1.25em;
  padding-bottom: 2em;
  border: 0.3125em solid white;
  border-radius: 1.25em;
  overflow-x: scroll;
  background-color: white;
}

table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
    border: solid 0.0625em var(--color-azul);
  }
  
  /* Estilos para las celdas del encabezado */
  th {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    font-weight: bold;
    padding: 0.625em;
    font-size: 14px;
    text-align: center;
  }
  
  /* Estilos para las celdas de datos */
  td {
    padding: 0.625em;
    text-align: center;
  }

  tr{
    background-color: var(--color-blanco);
    color: var(--color-azul);
  }
  
  /* Estilos para las filas pares */
  tr:nth-child(even) {
    background-color: var(--color-azul);
    color: var(--color-blanco);
  }

  
/*Diseño Responsive*/

@media (max-width: 1200px) {
  .tabla_container .container {
    width: auto;
    margin: 0 30px;
  }
  
}

@media (max-width: 780px) {

  .tabla_container{
    padding: 20px;
    padding-bottom: 40px;
  }

}

@media (max-width: 550px) {
  table{
    font-size: 10px;
  }

  table th{
    font-size: 12px;
  }
}