body{
    background-image: url(/media/linea_fondo.jpg);
    background-repeat:no-repeat;
    background-size: 100% 1200px;
}

.line_container{
    display: grid;
    width: 100%;
    grid-template-areas:
    "text"
    "container_info"
    "imagenes"
    ;
    margin-top: 230px;
}

.line_tittle{
    grid-area: text;
    text-align: center;
    color: var(--color-blanco);
}

.line_details{
    grid-area: container_info;
    margin-top: 20px;
}

.line_images{
    grid-area: imagenes;
    margin-top: 20px;
}

.imagenes_linea{
    padding: 0;
    height: 1200px;
}

.row {
    --bs-gutter-x: 0;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    font-size: 12px;
  }
  
  /* Estilos para las celdas del encabezado */
  th {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    font-weight: bold;
    padding: 5px;
    font-size: 12px;
    text-align: center;
  }
  
  /* Estilos para las celdas de datos */
  td {
    border: 1px solid var(--color-azul);
    padding: 4px;
    text-align: center;
  }

  tr{
    background-color: var(--color-blanco);
    color: var(--color-azul);
  }
  
  /* Estilos para las filas pares */
  tr:nth-child(even) {
    background-color: var(--color-azul);
    color: var(--color-blanco);
  }
  