.header_container{
  background-image: url(../media/green-ga3db58f9b_1280.jpg);
  background-repeat:no-repeat;
  height: 31.25em;
  padding-top: 14.375em;
  box-shadow: 5px 5px 20px var(--color-azul);
  position: relative;
  z-index: 2;
}

.line_container{
    display: grid;
    width: 62.5em;
    margin: auto;
    grid-template-areas:
    "text"
    "boton"
    ;
}

.line_tittle{
    grid-area: text;
    text-align: center;
    color: var(--color-blanco);
    background-color: var(--color-azul);
    padding: 1.25em;
    border-radius: 1.25em;
    box-shadow: 5px 5px 2.5em var(--color-blanco);
}

.line_tittle h1{
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.line_tittle h2{
  font-weight: bold;
  font-size: 1.25em;
  margin:0;
  margin-top: 0.625em;
}

.line_container .container_buttons{
  grid-area: boton;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.line_container button{
  padding: 1.25em;
  margin: 6.25em auto;
  background-color: var(--color-rojo);
}

.line_container .container_buttons span{
  margin-right: 0.1875em;
}

.line_container button::after{
  width: 18.75em;
  height: 6.25em;
  background-color: var(--color-azul);
}

.container_info{
  width: auto;
  background-color: var(--color-blanco);
  padding: 1.25em;
}
.info{
  background-image: url(../media/linea_info_fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3.125em;
  width: 62.5em;
  margin: 1.25em auto;
  position: relative;
  z-index: 1;
  border-radius: 1.25em;
}

.container_info h2{
  text-align: center;
  color: var(--color-azul);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.25em;
  background-color: var(--color-blanco);
  padding: 0.625em;
  border-radius: 1.25em;
}

.container_info .container_info_container{
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.container_info .container_info_container .cuerpo_info{
  max-width: 18.75em;
  background-color: var(--color-rojo);
  margin: 15px 0.9375em;
  padding: 1.875em;
  border-radius: 1.25em;
}

.container_info .container_info_container .cuerpo_info h3{
  text-align: center;
  margin-bottom: 1.25em;
  color: var(--color-blanco);
  font-weight: bold;
}

.container_info .container_info_container .cuerpo_info p{
  text-align: center;
  color: var(--color-blanco);
}

.container_info .container_info_termometros{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 1.25em;
}

.container_info .container_info_termometros a{
  margin: 0 0.9375em;
  width: 15.625em;
  padding: 0.9375em;
  border: none;
}

.container_info .container_info_termometros a::after{
  width: 18.75em;
  height: 6.25em;
}

.container_precios{
  background-color: var(--color-azul);
  margin:0;
  padding: 3.125em;
}

.container_precios div{
  width: 62.5em;
  background-color: var(--color-blanco);
  padding: 1.875em;
  border-radius: 1.25em;
  margin: auto;
}

.container_precios h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.875em;
  color: var(--color-azul);
}


/*Estilos para el Listado de Núcleos*/

.container_listaNucleos{
  margin: 0;
  background-color: var(--color-azul);
}

.container_listaNucleos h2{
  padding-top: 1.875em;
  margin: 0;
  text-align: center;
  color: var(--color-blanco);
  text-transform: uppercase;
  font-weight: bold;
}

.container_listaNucleos .listaNucleos{
  list-style: none;
  color: var(--color-blanco);
  width: 62.5em;
  margin: 2.5em auto 0 auto;
  padding-bottom:3.125em;
}

.container_listaNucleos .listaNucleos .error{
  margin: auto;
  text-align: center;
}

.container_listaNucleos .listaNucleos li{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "nombre selector"
  ;
  margin: 1.25em 0;
}

.container_listaNucleos .listaNucleos li p{
  grid-area: nombre;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0.3125em;
}
.container_listaNucleos .listaNucleos li form{
  grid-area: selector;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.container_listaNucleos .listaNucleos li form select{
  width: 21.875em;
  height: 3.125em;
  text-align: center;
  border-radius: 1.25em;
}
.container_listaNucleos .listaNucleos li form input{
  background-color: var(--color-rojo);
  color: var(--color-blanco);
  text-align: center;
  border: 0.0625em solid var(--color-blanco);
  margin: 0;
  margin-left: 0.3125em;
  border-radius: 1.25em;
  font-size: 0.75em;
  width: auto;
}

/* Estilos para las tablas */
table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    font-size: 0.75em;
  }
  
  /* Estilos para las celdas del encabezado */
  th {
    background-color: var(--color-rojo);
    border: 0.0625em solid var(--color-azul);
    color: var(--color-blanco);
    font-weight: bold;
    padding: 0.3125em;
    font-size: 0.75em;
    text-align: center;
  }
  
  /* Estilos para las celdas de datos */
  td {
    border: 0.0625em solid var(--color-azul);
    padding: 0.25em;
    text-align: center;
  }

  tr{
    background-color: var(--color-blanco);
    color: var(--color-azul);
  }
  
  /* Estilos para las filas pares */
  tr:nth-child(even) {
    background-color: var(--color-azul);
    color: var(--color-blanco);
  }

  
/*Diseño Responsive*/

@media (max-width: 1200px) {

  .line_container{
    width: auto;
    margin: auto 25px;
  }
  .info{
    width: auto;
  }

  .container_precios div{
    width: auto;
  }

  .container_listaNucleos .listaNucleos{
    width: auto;
    padding: 3em;
  }

  .container_listaNucleos .listaNucleos {
    margin-top:0;
  } 
}

@media (max-width: 1080px) {
  .line_container{
    min-width: 600px;
  }
  .line_container h1{
    font-size: 24px;
  }
  .line_container h2{
    font-size: 16px;
  }

  .info{
    min-width: 600px;
  }

  .info h2{
    font-size: 16px;
  }

  .info .container_info_container{
    flex-wrap: wrap;
  }

  .info .container_info_termometros{
    flex-wrap: wrap;
  }
}

@media (max-width: 780px) {
  .line_container{
    min-width: 450px;
  }
  .line_container button{
    margin: 50px auto;
    font-size: 14px;
  }
  .info{
    min-width: 450px;
    padding: 1em;
  }

  .info .cuerpo_info {
    font-size: 16px;
  }

  .info .container_info_termometros a{
    margin: 15px auto;
    font-size: 16px;
  }

  .container_precios{
    display: none;
  }

  .container_listaNucleos .listaNucleos li {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nombre" 
    "selector";
    margin: 1.25em auto;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
  }

  .container_listaNucleos .listaNucleos li p{
    text-align: center;
  }

  .container_listaNucleos .listaNucleos li form{
    margin: auto;
    flex-direction: column;
  }
  .container_listaNucleos .listaNucleos li form input{
    margin-top: 10px;
  }
  .container_listaNucleos .listaNucleos li form select{
    width: 400px;
  }

}

@media (max-width: 550px) {
  .line_container{
    min-width: 300px;
  }

  .line_container h1{
    font-size: 22px;
  }
  .line_container h2{
    font-size: 14px;
  }
  .line_container button{
    margin: 20px auto;
  }
  .info{
    min-width: 280px;
  }

  .info h2{
    font-size: 14px;
  }

  .container_listaNucleos .listaNucleos li form select{
    width: 200px;
  }

}
  