.contenido_usuario {
    background-image: url(/media/miusuario_fondo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: auto;
    padding: 1.25em 0 9.375em 0;
}

.contenido_usuario .username{
    width: 50em;
    margin: auto;
    margin-top: 6.25em;
    background-color: var(--color-azul);
    padding: 1.25em;
    border-radius: 1.25em;
    box-shadow: 0.3125em 0.3125em 2.5em var(--color-blanco);
    display: grid;
    grid-template-areas:
    "text"
    ;
}

.contenido_usuario .username h1{
    grid-area: text;
    text-align: center;
    color: var(--color-blanco);
    font-weight: bold;
    font-size: 1.875em;
    margin: 0;
    text-transform: uppercase;
}

.contenido_usuario .username span{
    color: var(--color-blanco);
    font-weight: bold;
    text-transform: uppercase;
}

.container_details{
    width: 62.5em;
    margin: auto;
    margin-top: 3.125em;
    background-color: var(--color-blanco);
    padding: 0.625em;
    border-radius: 1.25em;
    color: var(--color-azul);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container_details .lineas{
    margin: auto;
    width: 100%;
    padding: 1.25em;
    background-color: var(--color-azul);
    border-radius: 1.25em;
    color: var(--color-blanco);
}

.container_details .lineas h2{
    text-align: center;
    margin: 0;
    margin-top: 0.625em;
}

.container_details .lineas ul{
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: column;
    margin: 0;
}

.container_details .lineas li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25em;
}
.container_details .lineas p{
    text-transform: uppercase;
    font-weight: medium;
}

.container_details .lineas .boton_animado{
    margin: 0 1.25em;
    font-size: 0.75em;
    width: 3.125em;
    background-color: var(--color-rojo);
}

.info{
    margin: auto;
    width: 31.25em;
    background-color: var(--color-blanco);
    padding: 1.25em;
    margin: 1.25em auto;
    border: solid 0.625em var(--color-azul);
    border-radius: 1.25em;
    color: var(--color-azul);
}

.info h2{
    text-align: center;
    margin: 0;
    margin-top: 0.625em;
    text-transform: uppercase;
}

.info ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 1.25em;
    text-align: center;
    padding: 0;
}

.info li{
    margin-top: 0.625em;
}

.boton{
    width: 100%;
    margin-top: 0.625em;
    display: flex;
    justify-content: center;
}

.boton_animado{
    margin: auto;
    text-align: center;
}


/*Diseño Responsive*/

@media (max-width: 1200px) {

}

@media (max-width: 1080px) {
    .contenido_usuario .username{
        width: auto;
        margin: 0 30px;
        margin-top: 6.25em;
    }

    .container_details {
        width: auto;
        margin: 0 30px;
        margin-top: 3.125em;
    }

    .info{
        width: auto;
        margin: 1.25em 30px;
    }
}

@media (max-width: 780px) {

    .container_details .lineas li {
        justify-content: space-between;
        padding: 10px;
        border: 2px solid white;
        border-radius: 20px;
    }

    .info{
        padding: 10px;
    }

    .info ul{
        margin: 10px;
    }

}

@media (max-width: 550px) {
    .contenido_usuario .username{
        font-size: 14px;
    }
}