*{
  font-family: 'Montserrat';
}

.register_form {
    background-image: url(/media/registro_fondo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 800px;
    padding: 20px 0 150px 0;
}

.login_form {
    background-image: url(/media/login_fondo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 800px;
    padding: 30px;
}

.container_form{
  width: 800px;
  padding: 20px;
  margin: auto;
}

.container_form form {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-gris);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    box-shadow: 2px 5px 20px black;
  }
  .container_form form h1{
    color: var(--color-azul);
  }
  
  form label {
    display: block;
    font-size: 16px;
    margin: 10px auto;
    width: 470px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 450px;
    margin: auto;
    padding: 10px;
    border: 1px solid var(--color-azul);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  form button[type="submit"] {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
  }
  
  form button[type="submit"]:hover {
    background-color: var(--color-rojo);
  }

  
.container_form li{
    color: var(--color-rojo);
    margin: 0;
    margin-top: 3px;
    font-size: 14px;
    font-weight: bold;
}

#boton_intentar {
    visibility: hidden;
}