:root{
    --color-azul: #008489;
    --color-gris-oscuro: #767676;
    --color-rojo: #FF5A5F;
    --color-gris-claro: #F7F7F7;
    --color-blanco: #FFFFFF;
    --color-gris-claro-difuminado: rgba(247, 247, 247, 0.3);

}

*{
    outline: none;
    text-decoration: none;
    font-family: 'Montserrat','Verdana',sans-serif;
}

body{
    margin: 0;
    font-size: 16px;
}

/* ESTILOS MENU */

.menu{
    width: 100%;
    z-index: 500;
    position: fixed;
    margin: 0 auto;
    top:0;
    right: 0;
}

#menu_abierto ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#menu_abierto ul a{
    color: var(--color-blanco);
    font-weight: bold;
    padding: 0.9375em 1.5em;
    margin: auto;
    outline: none;
}

#menu_abierto ul li{
    list-style: none;
    outline: none;
}

#menu_abierto ul a:hover{
    background-color: var(--color-azul);
    transition: all ease-in 0.2s;
}

#menu_close{
    display: none;
}

.menu_desplegable{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0.625em;
    padding: 0.125em 0;
}

.menu_desplegable_lineas{
    height: 0.25em;
    width: 1.875em;
    background-color: var(--color-azul);
}

#menu_close img{
    height: 2.5em;
    margin: auto;
    float: left;
}

#menu_open{
    height: 25em;
    background-size: 18.75em;
    background-position-y: 2.5em;
    background-repeat: no-repeat;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

#menu_open .menu_desplegable{
    margin: 0.3125em 0.625em;
    width: 1.875em;
    height: 1.875em;
}


#menu_open .menu_desplegable .menu_desplegable_lineas{
    width: 130%;
}

#linea1{
    transform: rotate(45deg);
    position: relative;
    right: 0.375em;
    top: 0.375em;

}

#linea2{
    transform: rotate(-45deg);
    position: relative;
    bottom: 0.375em;
    right: 0.375em;
}
#menu_open span{
    margin-right: 10px;
}

#menu_open ul{
  margin: 0;
  padding: 0;
}

#menu_open li{
    list-style: none;
    text-align: center;
    margin: 1.5625em auto;
    font-size: 1.25em;
    font-family: 'Montserrat' 'Courier New', Courier, monospace;
}

#menu_open a{
    text-decoration: none;
    color: var(--color-blanco);
    font-weight: bold;
}

/*Estilo para los botones*/

.boton_animado{
    margin: 0 auto;
    text-align: center;
    grid-area: boton;
    margin-top: 25px;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-azul);
    box-shadow: 5px 5px 15px var(--color-blanco);
    color: var(--color-blanco);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: all ease-in 0.2s;
}

.boton_animado span{
    font-size: 16px;
    position: relative;
    font-weight: bold;
    color: var(--color-blanco);
    z-index: 2;
}

.boton_animado::after{
    position: absolute;
    content: '';
    background-color: #FF5A5F;
    width: 250px;
    height: 50px;
    top: 0;
    right: 100%;
    z-index: 1;
    transition: all ease-in 0.2s;
}

.boton_animado:hover{
    cursor: pointer;
    box-shadow: 5px 5px 30px var(--color-blanco);
}

.boton_animado:hover::after{
    right: 0;
}

main{
    margin: 0;
}

footer{
    background-color: var(--color-rojo);
    margin: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "enlaces logos"
    "firma firma";

    align-items: center;
    border-top: 10px solid var(--color-blanco);
}

footer h2{
    grid-area: titulo;
    color: var(--color-blanco);
    text-align: center;
    margin: 0;
}

footer ul{
    grid-area: enlaces;
    margin:auto;
    list-style: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul li{
    margin: 10px 0;
}
footer ul li a{
    color: var(--color-blanco);
}

footer .logotipos{
    grid-area: logos;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer .logotipos img{
    width: 200px;
    height: auto;
    margin: 0 20px;
}

footer .logotipos .logo_bus{
    width: 150px;
}

footer .firma{
    grid-area: firma;
    text-align: center;
    padding: 100px 10px 10px 10px;
    font-size: 12px;
    color: var(--color-blanco);
}

footer .firma a{
    text-decoration: underline;
    color: var(--color-blanco);
    font-weight: bold;
}
